html {
  color: #000;
  background: #FFF; }

* {
  tap-highlight-color: transparent !important; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, select, p, blockquote, th, td, a {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

a:hover,
a:active,
a:focus {
  color: inherit;
  outline: none !important;
  text-decoration: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

img {
  display: block; }

address, button, caption, cite, code, dfn, em, input, optgroup, option, select, strong, textarea, th, var {
  font: inherit; }

b, strong {
  font-weight: 700; }

del, ins {
  text-decoration: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-size: 100%;
  font-weight: normal;
  margin: 0; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: baseline; }

sub {
  vertical-align: baseline; }

legend {
  color: #000; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

label {
  font-weight: 500;
  margin-bottom: 0; }

svg {
  -webkit-transition: fill 0.3s ease;
  -o-transition: fill 0.3s ease;
  transition: fill 0.3s ease; }

/*****Common*****/
html {
  min-height: 100%;
  background: #fff; }

body {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.3125;
  color: #22356f;
  background: #fff;
  min-height: 100vh;
  position: relative;
  z-index: 0;
  letter-spacing: 0.015em; }

.site-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.container {
  margin: 0 auto; }

.header-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 180px 80px; }

.header-wrapper {
  padding-top: 30px;
  background-color: #f4f9e2; }

.header__logo {
  color: #62d0df;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -0.035em; }

.header-wrapper-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.header-button {
  padding: 20px 30px;
  background-color: #62d0df;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer; }
  .header-button:hover {
    -webkit-filter: brightness(80%);
    filter: brightness(80%); }

.header__image {
  width: 30%; }
  .header__image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: right top;
    object-position: right top; }

.header-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .header-text-wrapper {
    max-width: 60%;
    padding: 80px 100px; }
  .header-text__title {
    font-size: 48px;
    line-height: 55px;
    letter-spacing: -0.035em;
    text-transform: uppercase;
    padding: 40px 0 82px; }
  .header-text__subtitle {
    font-size: 24px;
    line-height: 43px;
    padding-bottom: 25px; }
  .header-text__button {
    padding: 10px 30px;
    margin-right: 10px;
    background-color: #f9b640;
    border: none; }
    .header-text__button:hover {
      -webkit-filter: brightness(80%);
      filter: brightness(80%); }

.menu ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .menu ul li {
    list-style-type: none;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 700; }
    .menu ul li:hover {
      color: #62D0DF; }
  .menu ul .active {
    border-bottom: 1px solid #22356f; }

.section1 {
  background-color: #62D0DF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .section1__content {
    max-width: 555px;
    margin: 150px 180px 75px; }
    .section1__content__title {
      font-size: 36px;
      font-weight: 700;
      line-height: 28px;
      padding-bottom: 75px; }
    .section1__content__subtitle {
      font-size: 20px;
      line-height: 30px; }
    .section1__content__subtitle-bold {
      font-size: 24px;
      line-height: 36px;
      font-weight: 700; }
  .section1__image {
    min-width: 30%; }
    .section1__image img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: left top;
      object-position: left top; }

.section2 {
  background-color: #fff;
  padding: 150px 0 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .section2__title {
    min-width: 25%;
    padding-left: 106px;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-transform: uppercase; }
  .section2__subtitle {
    font-size: 24px;
    line-height: 35px;
    max-width: 50%; }

.section3 {
  padding-bottom: 120px; }
  .section3__title {
    text-align: center;
    text-transform: uppercase;
    line-height: 19px;
    color: rgba(34, 53, 111, 0.5);
    padding-bottom: 25px; }
  .section3__content {
    padding: 72px 52px;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: -0.006em;
    min-height: 360px; }
    .section3__content hr {
      border: 1px solid #fff;
      margin-bottom: 23px; }

.tns-item:nth-child(1) .section3__content {
  background-color: #ffe2de; }

.tns-item:nth-child(2) .section3__content {
  background-color: #c4e769; }

.tns-item:nth-child(3) .section3__content {
  background-color: #dee1ff; }

.tns-item:nth-child(4) .section3__content {
  background-color: #0052c1; }

.tns-item:nth-child(5) .section3__content {
  background-color: #62D0DF; }

.tns-item:nth-child(6) .section3__content {
  background-color: #8f00ff; }

.tns-item:nth-child(7) .section3__content {
  background-color: #22356f; }

button[data-controls] {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  border: 0;
  background-color: #62D0DF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  button[data-controls]::before {
    content: "";
    background: url("../../images/right-arrow.svg");
    height: 20px;
    width: 20px; }
  button[data-controls]:disabled {
    opacity: 0.5;
    cursor: default; }

button[data-controls="next"] {
  right: 0; }

button[data-controls="prev"] {
  left: 0; }
  button[data-controls="prev"]::before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

.tns-outer {
  position: relative; }

.tns-controls {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  z-index: 10; }

.section4__wrapper-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.section4__content {
  width: -webkit-calc(100% / 3);
  width: calc(100% / 3);
  height: 480px;
  padding: 96px 70px;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: -0.006em; }
  .section4__content hr {
    border: 1px solid #fff;
    margin-bottom: 30px; }
  .section4__content:nth-child(1) {
    background-color: #22356f; }
  .section4__content:nth-child(2) {
    background-color: #0052c1; }
  .section4__content:nth-child(3) {
    background-image: url("../../images/joanna-kosinska-340748.jpg");
    background-position: center;
    background-size: cover; }
  .section4__content:nth-child(4) {
    background-color: #62D0DF; }
  .section4__content:nth-child(5) {
    background-color: #dee1ff; }
  .section4__content:nth-child(6) {
    background-color: #8f00ff; }

.wrapper-circle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.circle {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 12px;
  -ms-flex: 0 0 12px;
  flex: 0 0 12px;
  height: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  background-color: #e9b730;
  display: block;
  margin: 15px 15px 0 0; }

.section5 {
  padding: 20px 0 40px; }
  .section5__wrapper-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .section5__content {
    width: -webkit-calc(100% / 3);
    width: calc(100% / 3);
    padding: 60px 90px 35px 105px; }
    .section5__content__title {
      font-size: 28px;
      line-height: 34px;
      letter-spacing: -0.03em;
      padding-bottom: 28px; }
    .section5__content__subtitle {
      line-height: 26px;
      letter-spacing: -0.03em;
      color: rgba(34, 53, 111, 0.5); }

.section6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .section6__image {
    min-width: 30%; }
    .section6__image img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center; }
  .section6__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 103px 175px 42px 106px; }
    .section6__content__title {
      line-height: 12px;
      letter-spacing: 0.06em;
      text-transform: uppercase; }
    .section6__content__subtitle {
      font-size: 36px;
      font-weight: 700;
      line-height: 54px;
      letter-spacing: -0.01em; }
    .section6__content__after {
      color: #fab63e;
      text-transform: uppercase;
      line-height: 24px; }

.section7 {
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #22356f; }
  .section7__content {
    padding: 103px 235px 42px 180px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .section7__content____title-contact {
      line-height: 12px;
      letter-spacing: 0.06em;
      text-transform: uppercase; }
    .section7__content__wrapper-content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
    .section7__content__title {
      font-weight: 700;
      font-size: 64px;
      line-height: 96px;
      letter-spacing: -0.01em;
      padding-bottom: 77px; }
    .section7__content__subtitle {
      font-size: 36px;
      line-height: 54px;
      letter-spacing: -0.01em;
      padding-bottom: 77px; }
    .section7__content__after {
      color: #62D0DF;
      text-transform: uppercase;
      line-height: 24px;
      font-weight: 700; }
  .section7__image {
    min-width: 30%; }
    .section7__image img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center; }

.section8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .section8__image {
    min-width: 40%; }
    .section8__image img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center; }
  .section8__wrapper-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 100px 65px; }
  .section8__content {
    padding-right: 50px;
    width: 33.33%;
    font-size: 14px; }
    .section8__content__title {
      line-height: 11px;
      letter-spacing: -0.006em;
      font-weight: 700;
      padding-bottom: 50px; }
    .section8__content__subtitle {
      line-height: 24px;
      letter-spacing: -0.006em;
      color: rgba(34, 53, 111, 0.5); }
      .section8__content__subtitle a {
        margin-top: 20px;
        display: block; }

.footer-content {
  background-color: #62D0DF;
  padding: 32px 180px 26px;
  font-size: 14px;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700; }
  .footer-content .footer-icon {
    padding: 0 5px; }

/*****Common*****/
/*****Start 1200*****/
@media screen and (max-width: 1200px) {
  .header-menu {
    padding: 0 120px 50px; }
  .header-text__title {
    font-size: 40px;
    line-height: 48px;
    padding: 30px 0 60px; }
  .section1__content {
    margin: 100px 120px 50px; }
  .section2 {
    padding: 100px 0 40px; }
    .section2__subtitle {
      max-width: 70%; }
  .section3 {
    padding-bottom: 80px; }
    .section3__wrapper-content {
      height: 250px; }
    .section3__content {
      padding: 40px 35px;
      font-size: 28px; }
  .circle {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8px;
    -ms-flex: 0 0 8px;
    flex: 0 0 8px;
    height: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px; }
  .section4__content {
    height: 340px;
    font-size: 28px;
    padding: 55px 40px; }
  .section5__content {
    padding: 30px 40px 15px 55px; }
    .section5__content__title {
      font-size: 24px; }
  .section6__content {
    padding: 70px 140px 42px 70px; }
    .section6__content__subtitle {
      font-size: 26px;
      line-height: 40px; }
  .section7__content {
    padding: 70px 140px 30px 100px; }
    .section7__content__title {
      font-size: 50px;
      padding-bottom: 40px; }
    .section7__content__subtitle {
      font-size: 26px;
      line-height: 40px;
      padding-bottom: 40px; }
  .section8__wrapper-content {
    padding: 60px 40px; }
  .section8__content {
    padding-right: 30px; }
    .section8__content__title {
      padding-bottom: 30px; } }

/*****End 1200*****/
/*****Start 992*****/
@media screen and (max-width: 992px) {
  .header-menu {
    padding: 0 80px 60px; }
  .header-text__title {
    font-size: 30px;
    line-height: 40px;
    padding: 20px 0 40px; }
  .header-text__subtitle {
    font-size: 20px;
    line-height: 35px; }
  .header-text__button {
    font-size: 12px; }
  .section1__content {
    margin: 70px 70px 50px; }
    .section1__content__title {
      font-size: 30px;
      padding-bottom: 40px; }
    .section1__content__subtitle {
      font-size: 16px;
      line-height: 26px; }
    .section1__content__subtitle-bold {
      font-size: 20px;
      line-height: 30px; }
  .section2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 70px 70px 50px; }
    .section2__title {
      padding: 0 0 20px;
      min-width: auto; }
    .section2__subtitle {
      font-size: 20px;
      line-height: 30px;
      min-width: 100%; }
  .section3__content {
    font-size: 22px;
    padding: 30px 25px; }
  .section5__content {
    padding: 15px 25px 10px 35px; }
    .section5__content__title {
      font-size: 24px; }
  .section6__content {
    padding: 50px 85px 30px 50px; }
    .section6__content__subtitle {
      font-size: 22px;
      line-height: 32px; }
  .section7__content {
    padding: 40px 100px 30px 70px; }
    .section7__content__title {
      font-size: 40px;
      padding-bottom: 30px; }
    .section7__content__subtitle {
      font-size: 22px;
      line-height: 32px;
      padding-bottom: 30px; }
  .section8__wrapper-content {
    padding: 30px 15px; }
  .section8__content {
    padding-right: 10px; }
    .section8__content__title {
      padding-bottom: 15px; }
    .section8__content__subtitle {
      line-height: 18px; } }

/*****End 992*****/
/*****Start 768*****/
/*****End 768*****/
/*****Start 575*****/
/*****End 575*****/

/*# sourceMappingURL=maps/style.css.map */
