$color-accent: #0d75ff;
$color-text: #22356f; //+
$color-text-grey: rgba(34, 53, 111, 0.5);
$color-logo: #62d0df; //+
$color-light-blue: #62D0DF;
$color-title: #3f3c3d;
$color-white: #fff;
$color-white-text: #f3f8ff;
$color-bg: rgba($color-accent, 0.05);

$box-shadow: 0 4px 24px rgba(0, 0, 0, 0.13);

$transition-time: 0.3s;
$transition: all $transition-time ease;

$font-size: 16px;
$font: "Lato", sans-serif;
