$color-logo: #62d0df; 
$color-light-blue: #62D0DF;
$color-white: #fff;
$color-dark-blue: #22356f; 
$color-text-grey: rgba(34, 53, 111, 0.5);

$transition-time: 0.6s;
$transition: all $transition-time ease;

$font-size: 16px;
$font: "Lato", sans-serif;
