@import "reset";
@import "variables";
@import "mixins";

/*****Common*****/
html {
  min-height: 100%;
  background: #fff;
}

body {
  font-size: $font-size;
  font-family: $font;
  font-weight: 400;
  line-height: 1.3125;
  color: $color-dark-blue;
  background: #fff;
  min-height: 100vh;
  position: relative;
  z-index: 0;
  letter-spacing: 0.015em;
  &.hidden {
    overflow: hidden;
  }
}

.site-input {
  -webkit-appearance: none;
  appearance: none;
}

.container {
  margin: 0 auto;
}

.header {
  &-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 180px 80px;
  }
  &-wrapper {
    padding-top: 30px;
    background-color: #f4f9e2;
    position: relative;
  }
  &-button {
    padding: 20px 30px;
    background-color: $color-logo;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-white;
    cursor: pointer;
    &.mobile {
      display: none;
      padding: 15px;
      img {
        height: 30px;
        width: 30px;
      }
    }
    &:hover {
      filter: brightness(50%);
    }
  }
}

.logo {
  color: $color-logo;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -0.035em;
  opacity: 1;
  transition: $transition;
  &-header {
    &.hidden {
      opacity: 0;
    }
  }
}

.menu-items {
  display: flex;
}

.menu-item {
  display: flex;
  list-style-type: none;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 700;
  &.active {
    a {
      border-bottom: 1px solid $color-dark-blue;
    }
  }
  a {
    &:hover {
      color: $color-light-blue;
    }
  }
}

.menu-mobile {
  position: absolute;
  top: -100vh;
  right: 0;
  padding-top: 30px;
  text-align: center;
  background-color: #f4f9e2;
  height: 100vh;
  min-width: 320px;
  transition: $transition;
  overflow-y: scroll;
  &.active {
    top: 0;
  }
  ul {
    display: flex;
    flex-direction: column;
    margin: 70px;
    li {
      font-size: 25px;
    }
  }
}

.mobile-btn {
  display: none;
  width: 30px;
  height: 22px;
  position: relative;
  z-index: 20;
  transition: $transition;
  span {
    position: absolute;
    top: calc(50% - 1.5px);
    height: 2px;
    width: 100%;
    background: $color-light-blue;
    left: 0;
    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      background: $color-light-blue;
    }
    &::before {
      top: -8px;
    }
    &::after {
      bottom: -8px;
    }
  }
}

.overlay {
  position: fixed;
  opacity: 0.5;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: $color-light-blue;
  visibility: hidden;
  transition: $transition;
  &.active {
    opacity: 0.5;
    visibility: visible;
  }
}

.section0 {
  display: flex;
  background-color: #f4f9e2;
  &__image {
    min-width: 30%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: right top;
    }
  }
  &-wrapper {
    max-width: 800px;
    padding: 80px 150px;
  }
  &__title {
    font-size: 48px;
    line-height: 55px;
    letter-spacing: -0.035em;
    text-transform: uppercase;
    padding: 40px 0 82px;
  }
  &__subtitle {
    font-size: 24px;
    line-height: 43px;
    padding-bottom: 25px;
  }
  &-wrapper-button {
    display: flex;
    flex-wrap: wrap;
  }
  &__button {
    padding: 10px 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #f9b640;
    border: none;
    &:hover {
      filter: brightness(80%);
    }
  }
}

.section1 {
  background-color: $color-light-blue;
  display: flex;
  color: $color-white;
  justify-content: space-between;
  &__content {
    max-width: 555px;
    margin: 150px 180px 75px;
    &__title {
      font-size: 36px;
      font-weight: 700;
      line-height: 28px;
      padding-bottom: 75px;
    }
    &__subtitle {
      font-size: 20px;
      line-height: 30px;
    }
    &__subtitle-bold {
      font-size: 24px;
      line-height: 36px;
      font-weight: 700;
    }
  }
  &__image {
    min-width: 30%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left top;
    }
  }
}

.section2 {
  background-color: $color-white;
  padding: 150px 0 70px;
  display: flex;
  &__title {
    min-width: 25%;
    padding-left: 106px;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  &__subtitle {
    font-size: 24px;
    line-height: 35px;
    max-width: 50%;
  }
}

.section3 {
  padding-bottom: 120px;
  &__title {
    text-align: center;
    text-transform: uppercase;
    line-height: 19px;
    color: $color-text-grey;
    padding-bottom: 25px;
  }
  &__content {
    padding: 72px 52px;
    color: $color-white;
    min-height: 360px;
    hr {
      border: 1px solid $color-white;
      margin-bottom: 23px;
    }
  }
}

.tns-item {
  &:nth-child(1) {
    .section3__content {
      background-color: #ffe2de;
    }
  }
  &:nth-child(2) {
    .section3__content {
      background-color: #c4e769;
    }
  }
  &:nth-child(3) {
    .section3__content {
      background-color: #dee1ff;
    }
  }
  &:nth-child(4) {
    .section3__content {
      background-color: #0052c1;
    }
  }
  &:nth-child(5) {
    .section3__content {
      background-color: $color-light-blue;
    }
  }
  &:nth-child(6) {
    .section3__content {
      background-color: #8f00ff;
    }
  }
  &:nth-child(7) {
    .section3__content {
      background-color: $color-dark-blue;
    }
  }
}

button[data-controls] {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border: 0;
  background-color: $color-light-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
    content: "";
    background: url("../../images/right-arrow.svg");
    height: 20px;
    width: 20px;
  }
  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}
button[data-controls="next"] {
  right: 0;
}
button[data-controls="prev"] {
  left: 0;
  &::before {
    transform: rotate(180deg);
  }
}

button[data-nav] {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  border: none;
  margin: 5px;
}
.tns-nav {
  text-align: center;
  &-active {
    background-color: $color-light-blue;
  }
}
.tns-outer {
  position: relative;
}

.tns-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  z-index: 10;
}

.section4 {
  &__wrapper-content {
    display: flex;
    flex-wrap: wrap;
  }
  &__content {
    width: calc(100% / 3);
    min-height: 480px;
    padding: 96px 70px;
    color: $color-white;
    hr {
      border: 1px solid $color-white;
      margin-bottom: 30px;
    }
    &:nth-child(1) {
      background-color: $color-dark-blue;
    }
    &:nth-child(2) {
      background-color: #0052c1;
    }
    &:nth-child(3) {
      background-image: url("../../images/joanna-kosinska-340748.jpg");
      background-position: center;
      background-size: cover;
    }
    &:nth-child(4) {
      background-color: $color-light-blue;
    }
    &:nth-child(5) {
      background-color: #dee1ff;
    }
    &:nth-child(6) {
      background-color: #8f00ff;
    }
  }
}

.wrapper-circle {
  display: flex;
  font-size: 32px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: -0.006em;
}
.circle {
  flex: 0 0 12px;
  height: 12px;
  border-radius: 12px;
  background-color: #e9b730;
  display: block;
  margin: 15px 15px 0 0;
}

.section5 {
  padding: 20px 0 40px;
  &__wrapper-content {
    display: flex;
    flex-wrap: wrap;
  }
  &__content {
    width: calc(100% / 3);
    padding: 60px 90px 35px 105px;
    &__title {
      font-size: 28px;
      line-height: 34px;
      letter-spacing: -0.03em;
      padding-bottom: 28px;
    }
    &__subtitle {
      line-height: 26px;
      letter-spacing: -0.03em;
      color: $color-text-grey;
    }
  }
}

.section6 {
  display: flex;
  &__image {
    min-width: 30%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 103px 175px 42px 106px;
    &__title {
      line-height: 12px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
    }
    &__subtitle {
      font-size: 36px;
      font-weight: 700;
      line-height: 54px;
      letter-spacing: -0.01em;
    }
    &__after {
      color: #fab63e;
      text-transform: uppercase;
      line-height: 24px;
    }
  }
}

.section7 {
  color: $color-white;
  display: flex;
  background-color: $color-dark-blue;
  &__content {
    padding: 103px 235px 42px 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &____title-contact {
      line-height: 12px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
    }
    &__wrapper-content {
      display: flex;
      flex-direction: column;
    }
    &__title {
      font-weight: 700;
      font-size: 64px;
      line-height: 96px;
      letter-spacing: -0.01em;
      padding-bottom: 77px;
    }
    &__subtitle {
      font-size: 36px;
      line-height: 54px;
      letter-spacing: -0.01em;
      padding-bottom: 77px;
    }
    &__after {
      color: $color-light-blue;
      text-transform: uppercase;
      line-height: 24px;
      font-weight: 700;
    }
  }
  &__image {
    min-width: 30%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.section8 {
  display: flex;
  &__image {
    min-width: 40%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__wrapper-content {
    display: flex;
    padding: 100px 65px;
  }
  &__content {
    padding-right: 50px;
    width: 33.33%;
    font-size: 14px;
    &__title {
      line-height: 11px;
      letter-spacing: -0.006em;
      font-weight: 700;
      padding-bottom: 50px;
    }
    &__subtitle {
      line-height: 24px;
      letter-spacing: -0.006em;
      color: $color-text-grey;
      a {
        margin-top: 20px;
        display: block;
      }
    }
  }
}

.footer-content {
  background-color: $color-light-blue;
  padding: 32px 180px 26px;
  font-size: 14px;
  color: $color-white;
  display: flex;
  font-weight: 700;
  .footer-icon {
    padding: 0 5px;
  }
}

/*****Common*****/

@import "responsive";
